body::after{
    content: "About";
    position:fixed;
    right: 0;
    top: 0;
}

@media(min-width:576px ) {
    body::after{
        content: "SM";
    }
}
@media(min-width:576px ) {
    body::after{
        content: "SM";
    }
}
@media(min-width:576px ) {
    body::after{
        content: "SM";
    }
}
@media(min-width:576px ) {
    body::after{
        content: "SM";
    }
}